%ul{:class => 'breadcrumbs'}
  %li
    %a{:href => '/'}Home
  %li
    %a{:href => "/r/#{@subreddit}"}#{@subreddit}
  %li{:class => 'current'}#{@article.title}
%h3 #{@article.title}
%p #{@article.content}