<%= stylesheet_link_tag "readability", :document => "#{@original_url}" %>
<div class="content">
<ul class="breadcrumb">
	<li><a href="<%= root_path %>"><i class="icon-home"></i></a><span class="divider">/</span></li>
	<li><%= link_to @subreddit, :controller => "reddits", :action => "subreddit", :id => @subreddit %><span class="divider">/</span></li>
	<li><%= sanitize truncate(@article[:title],:length => 70) if @article[:title] %></li>
</ul>

<% if @article[:title].blank? %>
<h4><%= sanitize @submission_title %></h4>
<% else %>
<h4><%= sanitize @article[:title] %></h4>
<% end %>
<h6><%= sanitize @article[:author] %></h6>
<span class="badge badge-inverse"><%= link_to "Original", "#{@original_url}" %></span>
<span class="badge badge-info"><%= link_to "Reddit", "#{@reddit_url}" %></span>
<hr>
<div class="article">
<p><%= sanitize @article[:text].gsub(/\n/,"<br>") if @article[:text] %></p>
</div>
<% unless @article[:media].blank? %>
	<% @article[:media].each do |vid| %>
		<% if vid['type'].match("video") %>
		<% link = vid['link'] %>
			<iframe src="<%= link %>" width="420" height="315" frameborder='0' allowfullscreen></iframe>
		<% end %>
	<% end %>
<% end %>

<% unless @article[:tags].nil? %>
<strong>Tags:</strong>
<% @article[:tags].each do |tag| %>
	<span class="badge"><%= tag %></span>
<% end %>
<% end %>
</div>
